<h2>{{titulo}}</h2>
<p>
<input type="text" [(ngModel)]="miMarca" (blur)='onBlur()' (keyup.enter)='mostrarMarca()'/>
<button (click)='getMiMarca()'>Mostrar Marca</button>
<button (click)='addMiMarca()'>Añadir Marca</button>
</p>
<p>
 <strong>{{miMarca}}</strong>
</p>
<p>Compra las zapatillas de las mejores marcas</p>
<select id="marcaSelect">
  <option *ngFor="let item of marcas" value="{{item}}">{{item}}</option>
</select>
<ul>
  <li *ngFor="let item of marcas; let indice = index;">{{indice + ' ' +item}}
  <button (click)='dropMarca(indice)'>Eliminar</button>
  </li>
</ul>

<ul>
    <li *ngFor="let item of zapatillas">
        <span  
          [ngStyle]="{
            'text-decoration': !item.stock ? 'line-through':'none'
          }"
          [ngClass]="{ 
            altoPrecio: item.precio >=99999, 
            'fondorojo subrayado': item.precio >=120999
          }"
          >
            {{item.marca}} -- {{item.nombre}} - 
            <strong>{{item.precio}} CLP</strong>
        </span>
        
        <span *ngIf="item.precio < 60000 && item.stock" 
          [ngStyle]="{'font-color': 'black', 'background-color':'red'}"
        >¡SUPER OFERTA!</span>
        
        <span *ngIf="item.stock" 
          [ngStyle]="{'background-color': item.stock ? 'green' : 'transparent' }">Últimas unidades</span>    
    </li>
</ul>
<p>El color de la mayoria de las zapatillas es:</p>
<input type="text" [(ngModel)]="color"/>
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'yellow'">
    El color es <span [ngStyle]="{'color': color}">{{color}}</span></li>
  <li *ngSwitchCase="'red'">
        El color es <span [ngStyle]="{'color': color}">{{color}}</span></li>
  <li *ngSwitchCase="'white'">
        El color es <span [ngStyle]="{'color': color}">{{color}}</span></li>
  <li *ngSwitchCase="'orange'">
        El color es <span [ngStyle]="{'color': color}">{{color}}</span></li>
  <li *ngSwitchDefault>Sin color definido</li>
</ul>

